html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/*--------------------Nav Styling----------------------*/
nav {
  background-color: gray;
  display: flex;
  width: 100%;
  height: 12%;
  min-height: 5rem;
  z-index: 1;
}

/*logo container */
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
.logoContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 0;
}

/*search bar container */
.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 100%;
}
.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.errorMsg {
  color: red;
  position: absolute;
  bottom: 10%;
}

/*switch temperature container */
.switchTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

/*--------------------Main Styling----------------------*/
main {
  display: flex;
  height: 88%;
  width: 100%;
}
/*main Info Container*/
.mainInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.infoCard {
  width: 60%;
  min-width: 18rem;
  height: 60%;
  min-height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.innerInfoCard {
  width: 90%;
  height: 90%;
}
.cityName {
  text-align: center;
  font-size: 35px;
}
.forecastContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.castIcon {
  margin-left: -1.5rem;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 45px;
}
.cityForecast {
  font-size: 25px;
  font-weight: bold;
}
.cityTemp {
  margin: 1rem;
  font-size: 80px;
  text-align: center;
}
.highAndLow {
  display: flex;
  justify-content: center;
}
.highAndLow .temp {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/*additional info Container */
.addInfoContainer {
  background-color: rgb(23, 23, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.addInfo {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 50%;
}
.addInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  width: 32%;
  height: 50%;
}
.addInfoItem header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.addInfoItem span {
  font-size: 25px;
}

/*------Button class------*/
.button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  outline: none;
}
