html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/*--------------------Nav Styling----------------------*/
nav {
  background-color: rgb(22, 22, 31);
  display: flex;
  width: 100%;
  height: 12%;
  min-height: 5rem;
  z-index: 2;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.582);
}

/*logo container */
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.logoContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.808);
}
.fa-cloud-sun {
  color: white;
}
.logo {
  color: white;
  margin: 0;
}

/*search bar container */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
  position: relative;
}
.searchDiv {
  margin-left: -4rem;
  background-color: rgba(255, 255, 255, 0.384);
  height: 2rem;
  width: 50%;
  min-width: 20rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.582);
  border-radius: 2px 0px 0px 2px;
  transition: 150ms ease-in-out;
}
.searchDiv:hover,
.searchDiv:focus-within {
  box-shadow: 0px 0px 8px rgba(238, 237, 237, 0.342);
}
.fa-search {
  color: white;
  margin-left: 5px;
  margin-top: 5px;
}
.searchDiv input {
  height: 100%;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  opacity: 0.8;
  font-size: 17px;
  z-index: 1;
}
.searchButton {
  height: 2rem;
  color: white;
  background-color: rgb(100, 99, 99);
  font-size: 17px;
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.582);
}
.searchButton:hover {
  background-color: rgb(126, 123, 123);
}
::placeholder {
  color: white;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}
.errorMsg {
  display: none;
  color: red;
  position: absolute;
  left: 35%;
  bottom: 8%;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s;
}
@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*switch temperature container */
.switchTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}
.switchTemp {
  transition: 300ms ease-in-out;
  background-color: rgb(100, 99, 99);
  color: white;
  width: 7rem;
  font-size: 18px;
  font-weight: bold;
  height: 2.5rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.582);
}
.switchTemp:hover {
  background-color: rgb(126, 123, 123);
}
#celsius {
  transition: 300ms ease-in-out;
}
#fahrenheit {
  transition: 300ms ease-in-out;
}
.selectedTemp {
  color: black;
}

/*--------------------Main Styling----------------------*/
main {
  display: flex;
  height: 88%;
  width: 100%;
  /*background-image: url(./images/clouds.jpg);
  background-size: cover;*/
  background-color: rgb(42, 42, 54);
}
/*main Info Container*/
.mainInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.infoCard {
  width: 100%;
  min-width: 18rem;
  height: 85%;
  min-height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerInfoCard {
  width: 100%;
  height: 90%;
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.808);
}
.cityName {
  margin: 1.5rem;
  text-align: center;
  font-size: 70px;
}
.forecastContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.castIcon {
  margin-left: -2.5rem;
  margin-right: 2rem;
  text-align: center;
  font-size: 60px;
}
.cityForecast {
  font-size: 55px;
  font-weight: bold;
}
.cityTemp {
  margin: 1.5rem;
  font-size: 100px;
  text-align: center;
}
.highAndLow {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.highAndLow .temp {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/*additional info Container */
.addInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.addInfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}
.addInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.808);
  width: 32%;
  height: 50%;
  font-weight: bold;
}
.addInfoItem header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.addInfoItem span {
  font-size: 45px;
}

/*------Button class------*/
.button {
  cursor: pointer;
  border: 0;
  outline: none;
}
